<div id="table-page-component">
    @if (transactionsData.length > 0) {
        <div>
            <button>Simple search</button>
            <button>Complex search</button>
            <button>Updatev table</button>

            @if (searchState === SEARCH_STATE.COMPLEX_SEARCH) {
                <div>
                    <input
                        placeholder="To"
                        type="text"
                        [(ngModel)]="complexSearchContext.toValue"
                    />
                    <input
                        placeholder="From"
                        type="text"
                        [(ngModel)]="complexSearchContext.fromValue"
                    />
                    <input
                        placeholder="Gas"
                        type="text"
                        [(ngModel)]="complexSearchContext.gas"
                    />
                    <input
                        placeholder="Gas Price"
                        type="text"
                        [(ngModel)]="complexSearchContext.gasPrice"
                    />
                    <input
                        placeholder="Transaction Hash"
                        type="text"
                        [(ngModel)]="complexSearchContext.transactionHash"
                    />
                    <input
                        placeholder="Transaction Method"
                        type="text"
                        [(ngModel)]="complexSearchContext.transactionMethod"
                    />
                    <input
                        placeholder="Date"
                        type="datetime-local"
                        [(ngModel)]="complexSearchContext.date"
                    />
                    <button (click)="clickOnComplexSearch()">Search</button>
                </div>
            } @else if (searchState === SEARCH_STATE.SIMPLE_SEARCH) {
                <div>
                    <select (change)="simpleSearchToggle($event.target)">
                        @for (
                            optionItem of availableOptions;
                            track optionItem
                        ) {
                            <option></option>
                        }
                    </select>

                    @if (simpleSearchContext.typeValue === "date") {
                        <input
                            placeholder="Date"
                            type="datetime-local"
                            [(ngModel)]="simpleSearchContext.dateValue"
                        />
                        <button>Search</button>
                    } @else {
                        <input
                            placeholder="Type..."
                            type="text"
                            [(ngModel)]="simpleSearchContext.value"
                        />
                        <button>Search</button>
                    }
                </div>
            }
        </div>
        <table>
            <tr>
                <th>Transaction Hash</th>
                <th>Transaction Method</th>
                <th>Date</th>
                <th>Block Number</th>
                <th>Gas</th>
                <th>Gas Price</th>
                <th>From</th>
                <th>To</th>
            </tr>

            @for (entity of transactionsData; track entity) {
                <tr>
                    <td>{{ entity.transactionHash }}</td>
                    <td>{{ entity.transactionMethod }}</td>
                    <td>{{ entity.date }}</td>
                    <td>{{ entity.blockNumber }}</td>
                    <td>{{ entity.gas }}</td>
                    <td>{{ entity.gasPrice }}</td>
                    <td>{{ entity.from }}</td>
                    <td>{{ entity.to }}</td>
                </tr>
            }
        </table>
        <div>
            @if (showPreviousPageButton) {
                <button>Previous page</button>
            }
            @if (showNextPageButton) {
                <button>Next page</button>
            }
        </div>
    } @else {
        <div class="empty-table">
            <h1>The table is empty.</h1>
        </div>
    }
</div>
